# Visual Studio
.vs/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio cache
*.cache
*.log

# Rider / VSCode (nếu có)
.idea/
.vscode/

# NuGet packages (nếu dùng kiểu cũ)
packages/